.posProduct {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.4rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding-left: 1.25rem !important;
  padding-left: 1.25rem !important;
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
  color: #fff;
  border-color: #000000;
  width: 100%;
}

.posPanel {
  z-index: 1;
}

.btnWines {
  background-color: #8B70EC !important;
  color: #000000 !important;
}

.btnTickets{
  background-color: #EFEF53 !important;
  color: #000000 !important;
}

.btnBeers {
  background-color: #4EECF4 !important;
  color: #000000 !important;
}

.btnEquipment {
  background-color: #AEEBF0 !important;
  color: #000000 !important;
}

.btnSnacks {
  background-color: #AEEBF0 !important;
  color: #000000 !important;
}

.btnCoffee {
  background-color: #AEEBF0 !important;
  color: #000000 !important;
}

.btnCocktails {
  background-color: #AEEBF0 !important;
  color: #000000 !important;
}